
* {
  margin: 0 ;
}


.all {
  width: 1260px;
  height: 880px;
  background-color: #edf2c5;
  padding: 0px 160px 0px 160px;
  margin: 0 auto;
  position: relative;
   
}

.top {
  display: flex;
}

.veg {
  padding:36px 469px 5px 0px; 

  width: 271px;
  height: 62px;
  font-family: Arial-black;
  font-size: 44px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.82;
  letter-spacing: normal;
  text-align: left;
  color: #778a50;
}

.fb {
  margin:60px 10px 0px 0px; 

  width: 25px;
  height: 25px;
  object-fit: contain;
}
.ig {
  margin:60px 10px 0px 0px; 

  width: 25px;
  height: 25px;
  object-fit: contain;
}

.line {
  margin:60px 10px 0px 0px; 

  width:1px;
  height: 25px;
  background-color: #778a50;
} 

.log {
  margin:60px 10px 0px 0px;
  padding: 5px 6px;
  
  width:46px;
  height:15px;
  border: solid 1px #778a50;

  font-family: Arial-BoldMT;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #778a50;
}

.joi {
  margin:60px 10px 0px 0px; 
  padding: 5px 6px;

  width:35px;
  height:15px;
  border: solid 1px #778a50;

  font-family: Arial-BoldMT;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #778a50;
}



.box {
  margin: 0px 0px 20px 0px;
  width: 940px;
  height: 44px;
  border-radius: 3px;
  background-color: #778a50;
}


li { 
  display: inline-flex;
  padding: 10px 60px 11px 0px;
  line-height: 23px;
 
}

.home {
  width: 51px;
  height: 23px;
  font-family: Arial;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #edf2c5;
}
.aboutus{
  width: 80px;
  height: 23px;
  font-family: Arial;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #edf2c5;
}
.vege {
  width: 98px;
  height: 23px;
  font-family: Arial;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #edf2c5;
}
.online {
  width: 56px;
  height: 23px;
  font-family: Arial;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #edf2c5;
}
.contact {
  width: 69px;
  height: 23px;
  font-family: Arial;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #edf2c5;
}

.pumpkin {
  margin: 0px 0px 30px 0px;
  
  width: 940px;
  height: 448px;
  object-fit: contain;
}

.c {
  display: flex;
  height:235px;
}
.vegebox{
  width: 444px;
  height: 45px;
  border-radius: 3px;
  background-color: #778a50;

}
.veget {
    width: 98px;
    height: 23px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #edf2c5;
    padding: 12px 0px 0px 30px ;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 444px;
  margin-top:15px;
  
} 

.conbox{
    width: 444px;
    height: 45px;
    border-radius: 3px;
    background-color: #778a50;

}
.con {
    width: 69px;
    height: 23px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #edf2c5;
    padding: 12px 0px 0px 30px ;
}
article {
  margin-left:52px;
}

.text-box {
  width: 414px;
  height: 140px;
  margin-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #f7fbda;

  font-family:Arial;
  font-size: 12px;
  color:#7d7d7d;
}

.text1 {
  padding-top: 15px;
  line-height: 15px;
  width: 414px;
  height: 44px;
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #7d7d7d;
}
.text-line {
  height: 1px;
  width: 414px;
  background-color: #7d7d7d;
  margin-top: 14px;
}

.text2 {
  padding-top:15px;
  line-height: 21px;
  width: 197px;
  height: 35px;
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: #7d7d7d;
  
}
.footer{
  width: 1260px;
  height: 60px;
  background-color: #778a50;
}
.ft{
  width: 301px;
  height: 14px;
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 3;
  letter-spacing: normal;
  text-align: left;
  color: #edf2c5;

  padding-left: 480px;
  padding-top: 10px;
}

